 
body {
  background-color: #EFEFEF;
  font-family: 'Montserrat';
  font-weight: 700;
  text-align: center;
}

input {
  padding: 10px;
  font-family: 'Montserrat';
  font-size: 18px;
  border: 2px solid #C6C8CA;
  color: #C6C8CA;
}

input:focus {
    outline:none;
}

::-webkit-input-placeholder {
   color: #C6C8CA;
}

:-moz-placeholder { /* Firefox 18- */
   color: #C6C8CA;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #C6C8CA;  
}

:-ms-input-placeholder {  
   color: #C6C8CA;  
}

h1 {
  margin: 0;
  font-size: 20px;
  color: #00CCD6;
}

h1 span {
  border-bottom: 2px solid #FFD900;
}

h2 {
  margin-top: 25px;
  color: #00CCD6;
  font-size: 26px;
}

#success h2 {
  margin-top: 25px;
  margin-bottom: 5px;
}

#sorry h2 {
  margin-top: 25px;
  margin-bottom: 5px;
}

h3 {
  margin: 20px;
  padding: 15px 5px 5px 5px;
  color: #00CCD6;
  font-size: 14px;
}

.beerImage {
  width: 100%;
  height: 300px;
  background: center center ;
  background-color: #EFEFEF;
    background-blend-mode: multiply;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.beer:hover .beerImage {
  opacity: 0.4;
}

.beer:hover .tasting {
  visibility: visible;
}

.tasting {
  position: absolute;
  top: 100px;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  background-color: #00CCD6;
  margin: 5px;
  padding: 15px;
  border-radius: 2px;
  visibility: hidden;
}

.beer {
  display: inline-block;
  width: 200px;
  height: 400px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.beer img {
  width: 100%;
}

.footer {
  width: 100%;
}

.footer p {
  color: #00CCD6;
  font-size: 14px;
}

.footer a {
  color: #00CCD6;
  text-decoration: none;
  border-bottom: 2px solid #FFD900;
}

/* Responsive CSS */

/* Tablet */

@media (max-width: 980px) {

  .logo {
    width: 80%;
  }

}

/* Phone */

@media (max-width: 480px) {

  .logo {
    width: 100%;
  }

}